:root::before {
    content: url(../media/img/hero.jpg), url(../media/img/wma.jpg), url(../media/img/smba.jpg);
    visibility: hidden;
    position: absolute;
    left: -999em;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #F7F7F7;
    overflow-x: hidden;
}

.hero {
    position: relative;
    z-index: 1;
    margin-top: -12em;
}

.hero-container {
    content: '';
    background: linear-gradient(to right, rgba(253, 184, 3, 0.5), rgba(220, 36, 48, 0.5)), url(../media/img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 60.5em;
    margin: inherit;
    overflow: hidden;
}

.hero-details>.title,
.hero-details>.subtitle {
    padding: 2em;
}

.hero-details>.title {
    font-size: 4em;
    margin-top: 3em;
}

.hero-details>.subtitle {
    margin-top: -9.5em;
    margin-left: 3.65em;
    margin-bottom: -1em;
}

.hero-details>.time-stamp {
    margin-top: -2.5em;
    margin-left: 7.0em;
    margin-bottom: 2em;
}

.title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 900;
}

.subtitle {
    color: #fff;
    font-weight: 300;
}

.time-stamp {
    color: #fff;
    font-weight: 900;
}

.cta_red {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 1em 3em;
    background: #ff2015;
    font-size: 1em;
    transition: .2s, ease;
    box-shadow: 0px 3px 60px #000;
}

.hero-details>.cta_red {
    position: absolute;
    margin-left: 8.5em;
    margin-top: -1em;
}

.cta_red:hover {
    background: #c80900;
    color: #fff;
}

#marker {
    margin-left: 1em;
}

#event {
    height: 35em;
    position: relative;
}

.card_box {
    position: relative;
    margin-top: -5em;
    background: #FFF;
    width: 75%;
    margin-left: 11.5em;
    height: inherit;
    z-index: 3;
    content: '';
}

footer {
    position: relative;
    background: #333;
    height: 7em;
    margin-top: -2em;
}

#social {
    display: flex;
    justify-content: center;
    list-style: none;
}

#social>li {
    margin-top: 2em;
}

#social>li>a>i {
    color: #fff;
    padding: 1em;
    transition: .2s ease;
}

#social>li>a:hover>i {
    color: #fdb608;
}

#event .card_box {
    box-shadow: 0 10px 50px #333;
}

#details .card_box {
    box-shadow: 0 10px 50px #333;
}

.header {
    padding: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    color: #333;
}

#event>.card_box>.container {
    position: relative;
    display: flex;
}

#showcase {
    height: 40em;
    background: #222;
    position: relative;
    z-index: 1;
    margin-top: -5em;
}

.two-col {
    position: relative;
    width: 50%;
}

.video_container {
    background: #333;
    content: '';
    margin-top: -1.5em;
    height: 35.5em;
}

#event .two-col>.content>h1 {
    font-size: 4em;
    margin-left: 1em;
    color: #333;
}

#event .two-col>.content>p {
    margin-left: 3em;
    margin-top: -2.5em;
    color: #888;
}

.cta_btn {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 1em 3em;
    background: #ff2015;
    font-size: 1em;
    transition: .2s, ease;
}

.cta_btn:hover {
    background: #c80900;
    color: #fff;
}

#event .two-col>.content .cta_btn {
    position: relative;
    margin-left: 3em;
    margin-top: 5em;
}

.cta_btn_black {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 1em 3em;
    background: #333;
    font-size: 1em;
    transition: .2s, ease;
}

.cta_btn_black:hover {
    color: #fff;
    background: #111;
}

.video_container path {
    stroke: #fff;
    transition: .2s ease;
}

.video_container polygon {
    fill: #fff;
    transition: .2s ease;
}

.video_container a:hover path {
    stroke: #B5B5B5;
}

.video_container a:hover polygon {
    fill: #B5B5B5;
}

.video_container a svg {
    position: relative;
    margin-left: 13.5em;
    margin-top: 15em;
}

#showcase .container {
    display: flex;
    position: relative;
    flex: 1;
}

#showcase .card_box {
    position: relative;
    background: #fff;
    margin-top: 30em;
    height: 35em;
    margin-left: -1em;
}

#wma.card_box {
    background: linear-gradient( rgba(253, 184, 3, 0.8), rgba(253, 184, 3, 0.8)), url(../media/img/wma.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}

#smba.card_box {
    background: linear-gradient( rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5)), url(../media/img/smba.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}

#smba .content h1,
#wma .content h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

#wma .content,
#smba .content {
    position: relative;
    padding: 2em;
    margin-top: 6em;
}

#wma .content p,
#smba .content p {
    font-size: 1.5em;
    padding: 2em;
    margin-top: -3em;
    text-align: center;
    margin-bottom: -.5em;
}

.cta_ghost {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    padding: 1em 5em 1em 5em;
    margin-left: 12em;
    transition: .2s ease;
    font-weight: 700;
}

.cta_ghost:hover {
    color: #333;
    background: #fff;
}

#details {
    height: 30em;
    margin-top: 22em;
    background: #333;
}

#bg-split {
    content: '';
    background: linear-gradient(to right, rgba(123, 67, 151, 0.5), rgba(128, 0, 0, 0.5)), url(../media/img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 20em;
    margin: inherit;
    position: relative;
    margin-top: 40em;
    overflow: hidden;
}

#details>.card_box {
    margin-top: -26.5em;
    height: 30em;
    width: 50%;
    margin-left: 22em;
}

#details>.card_box>.content>.details {
    display: flex;
    flex: 1;
}

.box-design {
    background: #fdb608;
    padding: 1.5em 3em;
    color: #fff;
    text-align: center;
    font-weight: 100;
    height: 5em;
    margin-right: 2em;
}

.box-design>h3 {
    margin-top: .3em;
}

.info {
    margin-top: 1em;
}

.qr {
    position: relative;
    margin-left: 7.45em;
}

.img-header {
    background: #fff;
    background-size: cover;
    background-position: center center;
    height: 22em;
}

body::-webkit-scrollbar {
    width: 1em;
    background: #333;
}

body::-webkit-scrollbar-track {
    stroke: #fdb608;
}

body::-webkit-scrollbar-thumb {
    background: #fdb608;
}

#contact {
    position: relative;
    background: #333;
    height: 50em;
    padding: 10em;
}

#contact label {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

#contact [type=text] {
    padding: .5em;
    width: 100%;
    background: #333;
    color: #fff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 1.5em;
    transition: .2s ease;
}

#contact form {
    position: relative;
    display: block;
    margin: 5em;
}

#contact [type=text]:focus {
    border-color: #fdb608;
    outline: none;
    color: #fdb608;
}

.form {
    padding: 2em;
}

.submit-btn {
    background: #333;
    border: 2px solid #fff;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.5em;
    cursor: pointer;
    transition: .2s ease;
}

.submit-btn:hover {
    background: #fff;
    color: #333;
    font-weight: 700;
}

#contact textarea {
    width: 100%;
    resize: none;
    color: #fff;
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #fff;
    background: #333;
    font-family: 'Source Sans Pro', sans-serif;
    padding: .5em;
    transition: .2s ease;
    font-size: 1.5em;
}

#contact textarea:focus {
    outline: none;
    border-color: #fdb608;
    color: #fdb608;
}

#contact h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.main{
    padding-left: 5em;
    padding-right: 5em;
    background: transparent;
    position: relative;
    z-index: 99;
    margin-top: 3em;
    display: flex;
    list-style: none;
    justify-content:space-between;
    color: #fff;
    font-weight: 700;
    transition: .2s ease;
}

.main ul{
    list-style: none;
}
.right{
    display: inline-flex; 
    margin-left: 2em;
    font-size: 1em;
}
.main li {
    padding: .5em;
}
.left > li a{
    font-weight: 900;
    font-size: 2em;
    margin-top: -.35em;
}
.right a {
    transition: .2s ease;
}
.right > li > a:hover{
    color: #fdb608;
    cursor: pointer;
}
.left a{
    cursor: pointer;
}